* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contianer {
  /* border: 1px solid green; */
  /* width: 50vh; */
}

.card-contianer {
  /* border: 1px solid red; */
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 300px;
  margin: 0 auto;
}

.photo {
  display: flex;
  justify-content: center;
  margin: 10px;
  
  
}

.photo img {
  border-radius: 50%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
